/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.simplequizblock-container {
	padding: 20px;
	text-align: center;

}
.simplequizblock-shadow {
	box-shadow: 0px 2px 10px rgb(41, 41, 41);
}

.simplequizblock-question{
	font-size: 2em;
}
.simplequizblock-answers {
	margin: auto;
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.simplequizblock-unique-answer {
		min-width: 200px;
		padding: 5px 15px;
		border-radius: 25px;
		font-size: 1.2em;
		margin: 5px;
		cursor: pointer;
		
	}
	.good-border {
		border: solid 1px #1a810d;
		filter: drop-shadow(0px 2px 5px rgb(59, 59, 59));
	}
	.bad-border{
		border:solid 1px rgb(173, 63, 29);
		filter: drop-shadow(0px 2px 5px rgb(59, 59, 59));
	}
	.good-fill {
		border: solid 2px #1a810d;
		background-color: #1a810d;
		box-shadow: 0px 2px 10px rgb(41, 41, 41);
		color: azure;
	}
	.bad-fill{
		border:solid 2px rgb(173, 63, 29);
		background-color: rgb(173, 63, 29);
		box-shadow: 0px 2px 10px rgb(41, 41, 41);
		color: azure;
	}
}

.simplequizblock-result {
	.good-answer, .bad-answer {
		margin: 10px;
		padding: 10px;
		border-radius: 20px;
	}
}

.signature {
	font-style: italic;
	font-size: 0.9em;
	margin-top: 15px;
}